<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading"><a href="https://deohs.washington.edu/pnash/LabelsNow">¡Etiquetas de pesticidas, ahora!&#x2122; / Pesticide Labels, Now!&#x2122;</a></h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>Primary Funding and support provided by the <a href="https://lni.wa.gov/safety-health/grants-committees-partnerships/safety-health-investment-projects-grant-program/">Washington State Department Department of Labor &amp; Industries Safety and Health Investment Projects (SHIP)</a></p>
      </div>
    </div>

  </div>

</footer>